        :root{
            --button:rgb(33, 33, 230);
            --hover:green;
        }

        .box{
            border: 2px solid;
            padding:20px;
            margin: 10px;
        
        }

        body{
            display: flex;
            justify-items: center;
            align-items: center;
            margin:0;
        }
        h1{
            align-items: center;
        }
        table{
            padding:10px;
            border-collapse:collapse;
        }
        /* adding */
        th,td{
            padding: 10px;
        
        }

        /* adding table td th */
        table,td,th{
                  border: 1px solid;

        }
        img{
            margin-bottom: 0px;
            /* align-items: center; */
        }
        .card{
            /* changing */
             border: 2px rgb(17, 219, 17);
             width: 250px;
             padding: 40px;
             /* margin :20px; */
             border-radius: 10px;
             background-color: white;
            /* padding: 5px;
            margin: 5px; */
        }
        .btn:hover{
            color: brown;
        }
       
        .btn{
            margin: 5px;
            color:var(--button);
            align-items: center;
            padding: 15px;
            border-radius: 50px;
            cursor: pointer;
            
        }
       /* .table{
        border: 1px solid ;
       } */
       h2{
        text-decoration:underline;
        text-decoration-color: blue;

       }
